/*@media only screen and (min-width: 360px) 
    {*/
    html,body 
        {	
		/*background-image: url('CaelumGladioDefaultBackround.png');*/
		background-color: black; 
		background-repeat: no-repeat;
		background-attachment: fixed; 
		background-size: 100% 100%;	
        -webkit-text-size-adjust: none;
        color: white;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        font-weight: normal;
        font-family: "Courier New", Courier, monospace;
		scale: 0.80;		
        }
		
	#maindiv:fullscreen
	{
        -webkit-text-size-adjust: none;
		/*background-image: url('CaelumGladioDefaultBackround.png');*/

		background-repeat: no-repeat;
		background-attachment: fixed; 
		background-size: 100% 100%;			
		left: 100px;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        font-weight: normal;
        font-family: "Courier New", Courier, monospace;
  
	}	
			
   #maindiv:not(:fullscreen) 
        {
        -webkit-text-size-adjust: none;
		/*background-image: url('CaelumGladioDefaultBackround.png');*/
		background-repeat: no-repeat;
		background-attachment: fixed; 
		background-size: 100% 100%;			
		
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        font-weight: normal;
        font-family: "Courier New", Courier, monospace;
        }
		
   #canvasdiv:fullscreen
        {

        /*left: 0;*/
        /*top: 0;*/
        /*transform: translate(-25%, -25%);*/
        /*-webkit-transform: translate(-25%, -25%);*/
        width: 505px;
        height: 305px;
        margin: 0px;
        padding: 250px;
        position: relative;
        }
		
   #canvasdiv:not(:fullscreen) 
        {

        /*left: 0%;*/
       /* top: 0%;*/
        /*transform: translate(-25%, -25%);*/
        /*-webkit-transform: translate(-25%, -25%);*/
        width: 505px;
        height: 320px;
        margin: 0;
        padding: 0;
        position: relative; 
        }
				
		
		

